body {

    background-image: url("../images/points.jpg");
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}
div.container {

    margin: 25px auto;
    width: 900px;
    position: relative;
    margin-top: 140px;
}

#content {

    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 25px 0 0;
    background: rgba(77,87,115,0.73);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 0 #010101 inset;

}

#content h1 {

    font-family: SansSerif,Arial;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #36fffa;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

div.wrapper {

    background: #eae7e7;
    width: 300px ;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #0d1f3d;
}


.wrapper input {

    width: 300px;
    height: 45px;
    background: transparent;
    border: 0;
    padding: 10px;
    outline: none;
    color: #33040a;
}

input[type="submit"]{

    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: none;
    background: rgba(104,56,115,0.73);
    background: -webkit-linear-gradient(top, rgba(20,115,94,0.73) 0%, rgba(70,86,115,0.73) 100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8)inset;
    cursor: pointer;
    color: #1c855b;
    font-family: sans-serif,Arial;
    font-size: 16px;
    font-weight: bolder;
}

input[type="submit"]:hover{

    background: -webkit-linear-gradient(top, rgb(245, 134, 4) 0%, rgb(234, 242, 182) 100%);
}

