body {

    background: url("../images/bg1.jpg");
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}
.container {

    margin: 25px auto;
    width: 900px;
    margin-top: 140px;
}

#content {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 25px 0 0;
    margin-top: 50px;
    text-align: center;
}

#content h1 {

    font-family: SansSerif,Arial;
    font-size: 30px;
    font-weight: bold;
    color: Red;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding-bottom: 30px;
    margin-bottom: 60px;
    margin-top: -20px;
}
.wrapper {

    background: #eae7e7;
    width: 300px ;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #000000;
}


.wrapper input {

    width: 300px;
    height: 45px;
    background: transparent;
    border: 0;
    outline: none;
    color: #333;
    padding: 10px;
}

.gender22 {

    padding: 30px;
    margin-left: 20px;
    font-size: 25px;
    color: darkslateblue;
}

.gender input {

    height: 18px;
    width: 20px;

}

input[type="submit"]{

    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: none;
    background: rgb(254,231,154);
    background: -webkit-linear-gradient(top,rgba(254,232,154,1)0%,rgba(254,193,81,1)100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8)inset;
    cursor: pointer;
    color: red;
    font-family: sans-serif,Arial;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

input[type="submit"]:hover{

    background: -webkit-linear-gradient(top,rgba(254,193,81,1)0%,rgba(254,232,154,1)100%);
}

.msg{

    font-size: 17px;
    color: red;
    padding: 20px;
    font-weight: bolder;
}











